{% extends 'css-js-links.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block title %}
Balance Sheet {% endblock title %}

{% block context %}
{% if request.user.is_superuser %}
{% include 'navbar.html' %}
{% else %}
{% include 'accounts/navbar.html' %}
{% endif %}
{% endblock context %}

{% block body %}
<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
          <div class="row">
            <div class="col-lg-12">
              <h4 class=" ">Balance Sheet - Net Profit:{{net_profit}}</h4>
              <div class="col-12 mt-5">
                <h4 class="">Assets Accounts Balance : {{ asset }}</h4>
                <div class="card py">
                  <div class="table-responsive py-2">
                    {% if asset %}
                    <table class="table table-stripped table-bordered" id="petrol-table">
                      <colgroup>
                        <col width="5%">
                        <col width="55%">
                        <col width="40%">
                      </colgroup>
                      <thead>
                        <tr class="bg-primary bg-gradient text-light text-center">
                          <td>Sr.No.</td>
                          <td>Account Tilte </td>
                          <td>Account Balance</td>
                        </tr>
                      </thead>
                      <tbody>
                        {% for account, balance in assets.items %}
                        <tr>
                          <td class="text-center fs-5">{{forloop.counter}}</td>
                          {% if account.name %}
                          <td class="text-center fs-5">{{ account.name }}</td>
                          <td class="text-center fs-5">{{balance}}</td>
                          {% elif account.customer %}
                          <td class="text-center fs-5">{{ account.customer.coname }}</td>
                          <td class="text-center fs-5">{{balance}}</td>
                          {% elif account.supplier %}
                          <td class="text-center fs-5">{{ account.supplier.coname }}</td>
                          <td class="text-center fs-5">{{balance}}</td>
                          <li>{{ account.supplier.coname }} = {{ balance }}</li>
                          {% elif account.cheque %}
                          <td class="text-center fs-5">{{ account.cheque }}</td>
                          <td class="text-center fs-5">{{balance}}</td>
                          {% endif %}
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                {% else %}
                <h4 class="text-center alert alert-warning">No Record Found</h4>
                {% endif %}
              </div>
            </div>
          </div>
          <hr class="mt-4">
          <!-- Liabilities Accounts -->
          <div class="col-12 mt-5">
            <h4 class="">Liabilities Accounts Balance : {{liabilitie}}</h4>
            <div class="card py">
              <div class="table-responsive py-2">
                {% if liabilitie %}
                <table class="table table-stripped table-bordered" id="petrol-table">
                  <colgroup>
                    <col width="5%">
                    <col width="55%">
                    <col width="40%">
                  </colgroup>
                  <thead>
                    <tr class="bg-primary bg-gradient text-light text-center">
                      <td>Sr.No.</td>
                      <td>Account Tilte </td>
                      <td>Account Balance</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for account, balance in liabilities.items %}
                    <tr>
                      <td class="text-center fs-5">{{forloop.counter}}</td>
                      {% if account.name %}
                      <td class="text-center fs-5">{{ account.name }}</td>
                      <td class="text-center fs-5">{{balance}}</td>
                      {% elif account.customer %}
                      <td class="text-center fs-5">{{ account.customer.coname }}</td>
                      <td class="text-center fs-5">{{balance}}</td>
                      {% elif account.supplier %}
                      <td class="text-center fs-5">{{ account.supplier.coname }}</td>
                      <td class="text-center fs-5">{{balance}}</td>
                      <li>{{ account.supplier.coname }} = {{ balance }}</li>
                      {% elif account.cheque %}
                      <td class="text-center fs-5">{{ account.cheque }}</td>
                      <td class="text-center fs-5">{{balance}}</td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            {% else %}
            <h4 class="text-center alert alert-warning">No Record Found</h4>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="mt-4">

  <!-- Equit Accounts -->
  <div class="col-12 mt-5">
    <h4 class=""> Equity Accounts Balance : {{ equity }}</h4>
    <div class="card py">
      <div class="table-responsive py-2">
        {% if equity %}
        <table class="table table-stripped table-bordered" id="petrol-table">
          <colgroup>
            <col width="5%">
            <col width="55%">
            <col width="40%">
          </colgroup>
          <thead>
            <tr class="bg-primary bg-gradient text-light text-center">
              <td>Sr.No.</td>
              <td>Account Tilte </td>
              <td>Account Balance</td>
            </tr>
          </thead>
          <tbody>
            {% for account, balance in equity_account.items %}
            <tr>
              <td class="text-center fs-5">{{forloop.counter}}</td>
              {% if account.name %}
              <td class="text-center fs-5">{{ account.name }}</td>
              <td class="text-center fs-5">{{balance}}</td>
              {% elif account.customer %}
              <td class="text-center fs-5">{{ account.customer.coname }}</td>
              <td class="text-center fs-5">{{balance}}</td>
              {% elif account.supplier %}
              <td class="text-center fs-5">{{ account.supplier.coname }}</td>
              <td class="text-center fs-5">{{balance}}</td>
              <li>{{ account.supplier.coname }} = {{ balance }}</li>
              {% elif account.cheque %}
              <td class="text-center fs-5">{{ account.cheque }}</td>
              <td class="text-center fs-5">{{balance}}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% else %}
    <h4 class="text-center alert alert-warning">No Record Found</h4>
    {% endif %}
  </div>
</div>
</div>
<hr class="mt-4">

<!-- Revenue Accounts -->
<div class="col-12 mt-5">
  <h4 class=""> Revenue Accounts Balance : {{ revenue }}</h4>
  <div class="card py">
    <div class="table-responsive py-2">
      {% if revenue %}
      <table class="table table-stripped table-bordered" id="petrol-table">
        <colgroup>
          <col width="5%">
          <col width="55%">
          <col width="40%">
        </colgroup>
        <thead>
          <tr class="bg-primary bg-gradient text-light text-center">
            <td>Sr.No.</td>
            <td>Account Tilte </td>
            <td>Account Balance</td>
          </tr>
        </thead>
        <tbody>
          {% for account, balance in revenue_account.items %}
          <tr>
            <td class="text-center fs-5">{{forloop.counter}}</td>
            {% if account.name %}
            <td class="text-center fs-5">{{ account.name }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            {% elif account.customer %}
            <td class="text-center fs-5">{{ account.customer.coname }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            {% elif account.supplier %}
            <td class="text-center fs-5">{{ account.supplier.coname }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            <li>{{ account.supplier.coname }} = {{ balance }}</li>
            {% elif account.cheque %}
            <td class="text-center fs-5">{{ account.cheque }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
  <h4 class="text-center alert alert-warning">No Record Found</h4>
  {% endif %}
</div>
</div>
</div>
<hr class="mt-4">

<!-- Expenses  Accounts -->
<div class="col-12 mt-5">
  <h4 class=""> Expenses Accounts Balance : {{ expenses }}</h4>
  <div class="card py">
    <div class="table-responsive py-2">
      {% if expenses %}
      <table class="table table-stripped table-bordered" id="petrol-table">
        <colgroup>
          <col width="5%">
          <col width="55%">
          <col width="40%">
        </colgroup>
        <thead>
          <tr class="bg-primary bg-gradient text-light text-center">
            <td>Sr.No.</td>
            <td>Account Tilte </td>
            <td>Account Balance</td>
          </tr>
        </thead>
        <tbody>
          {% for account, balance in expenses_account.items %}
          <tr>
            <td class="text-center fs-5">{{forloop.counter}}</td>
            {% if account.name %}
            <td class="text-center fs-5">{{ account.name }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            {% elif account.customer %}
            <td class="text-center fs-5">{{ account.customer.coname }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            {% elif account.supplier %}
            <td class="text-center fs-5">{{ account.supplier.coname }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            <li>{{ account.supplier.coname }} = {{ balance }}</li>
            {% elif account.cheque %}
            <td class="text-center fs-5">{{ account.cheque }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
  <h4 class="text-center alert alert-warning">No Record Found</h4>
  {% endif %}
</div>
</div>
</div>

<hr class="mt-4">

<!-- Gain  Accounts -->
<div class="col-12 mt-5">
  <h4 class=""> Gain Accounts Balance : {{ gain }}</h4>
  <div class="card py">
    <div class="table-responsive py-2">
      {% if gain %}
      <table class="table table-stripped table-bordered" id="petrol-table">
        <colgroup>
          <col width="5%">
          <col width="55%">
          <col width="40%">
        </colgroup>
        <thead>
          <tr class="bg-primary bg-gradient text-light text-center">
            <td>Sr.No.</td>
            <td>Account Tilte </td>
            <td>Account Balance</td>
          </tr>
        </thead>
        <tbody>
          {% for account, balance in gain_account.items %}
          <tr>
            <td class="text-center fs-5">{{forloop.counter}}</td>
            {% if account.name %}
            <td class="text-center fs-5">{{ account.name }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            {% elif account.customer %}
            <td class="text-center fs-5">{{ account.customer.coname }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            {% elif account.supplier %}
            <td class="text-center fs-5">{{ account.supplier.coname }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            <li>{{ account.supplier.coname }} = {{ balance }}</li>
            {% elif account.cheque %}
            <td class="text-center fs-5">{{ account.cheque }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
  <h4 class="text-center alert alert-warning">No Record Found</h4>
  {% endif %}
</div>
</div>
</div>
<hr class="mt-4">

<!-- Loss  Accounts -->
<div class="col-12 mt-5">
  <h4 class=""> Loss Accounts Balance : {{ loss }}</h4>
  <div class="card py">
    <div class="table-responsive py-2">
      {% if loss %}
      <table class="table table-stripped table-bordered" id="petrol-table">
        <colgroup>
          <col width="5%">
          <col width="55%">
          <col width="40%">
        </colgroup>
        <thead>
          <tr class="bg-primary bg-gradient text-light text-center">
            <td>Sr.No.</td>
            <td>Account Tilte </td>
            <td>Account Balance</td>
          </tr>
        </thead>
        <tbody>
          {% for account, balance in los_account.items %}
          <tr>
            <td class="text-center fs-5">{{forloop.counter}}</td>
            {% if account.name %}
            <td class="text-center fs-5">{{ account.name }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            {% elif account.customer %}
            <td class="text-center fs-5">{{ account.customer.coname }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            {% elif account.supplier %}
            <td class="text-center fs-5">{{ account.supplier.coname }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            <li>{{ account.supplier.coname }} = {{ balance }}</li>
            {% elif account.cheque %}
            <td class="text-center fs-5">{{ account.cheque }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
  <h4 class="text-center alert alert-warning">No Record Found</h4>
  {% endif %}
</div>
</div>
</div>
<hr class="mt-4">

<!-- Commitment Accounts -->
<div class="col-12 mt-5">
  <h4 class=""> Commitment Accounts Balance : {{ commitment }}</h4>
  <div class="card py">
    <div class="table-responsive py-2">
      {% if commitment %}
      <table class="table table-stripped table-bordered" id="petrol-table">
        <colgroup>
          <col width="5%">
          <col width="55%">
          <col width="40%">
        </colgroup>
        <thead>
          <tr class="bg-primary bg-gradient text-light text-center">
            <td>Sr.No.</td>
            <td>Account Tilte </td>
            <td>Account Balance</td>
          </tr>
        </thead>
        <tbody>
          {% for account, balance in commitment_account.items %}
          <tr>
            <td class="text-center fs-5">{{forloop.counter}}</td>
            {% if account.name %}
            <td class="text-center fs-5">{{ account.name }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            {% elif account.customer %}
            <td class="text-center fs-5">{{ account.customer.coname }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            {% elif account.supplier %}
            <td class="text-center fs-5">{{ account.supplier.coname }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            <li>{{ account.supplier.coname }} = {{ balance }}</li>
            {% elif account.cheque %}
            <td class="text-center fs-5">{{ account.cheque }}</td>
            <td class="text-center fs-5">{{balance}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
  <h4 class="text-center alert alert-warning">No Record Found</h4>
  {% endif %}
</div>
</div>
</div>
<hr class="mt-4">
<!-- <ul>
  <h2>Accounts Eqution</h2>
  <h4>Assets = Liabilities + Equity :</h4>
  <h4> {{asset}} = {{liabilitie}} + {{equity}} = {{liabilitie|plus:equity}} </h4>
  <h4>Should be LHS = RHS otherwise balance sheet is not balanced<h4>
</ul> -->
</div>
</div>

<script>
  $(document).ready(function () {
    console.log("i m jqurey");

    // Wait for 10 seconds and then hide the element with id "myElement"
    setTimeout(function () {
      $("#msg").hide();
    }, 4000); // 10000 milliseconds = 10 seconds
  });
</script>

{% endblock body %}