{% extends 'css-js-links.html' %} 
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block title %}
Create Account {% endblock title %} 

{% block context %}
{% if request.user.is_superuser %}
{% include 'navbar.html' %} 
{% else %}
{% include 'accounts/navbar.html' %} 
{% endif %}
{% endblock context %}

{% block body %}
<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
  <div class="row">
    <div id="product" class="col-lg-12 ">
      <h2 class="text-center alert alert-info ">Select a Type to Create Account</h2>
      <div class="text-center  mb-3 ">

        <h4
          class=" btn bg-success bg-gradient  rounded pt-1 fs-4 {% if request.path == '/add_account/' %} bg-secondary bg-gradient text-light rounded {%endif%}">
          <a class="text-light" href="/add_account" class="list-group-item "><i class="ti-plus me-1"></i>General</a>
        </h4>
        <h4
          class=" btn bg-success bg-gradient  rounded pt-1 fs-4 {% if request.path == '/add_account/' %} bg-secondary bg-gradient text-light rounded {%endif%}">
          <a class="text-light" href="/add_account?account_type=employee" class="list-group-item "><i class="ti-plus me-1"></i>Employee</a>
        </h4>

        <h4
          class=" btn bg-success bg-gradient  rounded pt-1 fs-4 {% if request.path == '/add_account/' %} bg-secondary bg-gradient text-light rounded {%endif%}">
          <a class="text-light" href="/add_account?account_type=customer" class="list-group-item "><i class="ti-plus me-1"></i>Customer</a>
        </h4>
        <h4
          class=" btn bg-success bg-gradient rounded pt-1 fs-4 {% if request.path == '/add_account/' %} bg-secondary bg-gradient text-light rounded {%endif%}">
          <a class="text-light" href="/add_account?account_type=supplier" class="list-group-item"><i class="ti-plus me-1"></i>Supplier</a>
        </h4>
        <h4
          class=" btn bg-success bg-gradient rounded pt-1 fs-4 {% if request.path == '/add_account/' %} bg-secondary bg-gradient text-light rounded {%endif%}">
          <a class="text-light" href="/add_account?account_type=cheque" class="list-group-item"><i class="ti-plus me-1"></i>Cheque/Reciept</a>
        </h4>
      </div>
      <h2 class="text-center alert alert-info ">Accounts List</h2>
      <div class="table-responsive py-2">
        {% if mydata %}
        <table class="table table-flush" id="datatable">
          <thead class="thead-light">
            <tr class=" ">
              <td class="text-center fs-5 ">Sr.No.</td>
              <td class="text-center fs-5">Name.</td>
              <td class="text-center fs-5">Account Category</td>
              <td class="text-center fs-5">Account Type</td>
              {% if update %}
              {% else %}
              <td class="text-center fs-5">Actions</td>
              {% endif %}
            </tr>
          </thead>
          {{update}}
          <tbody>
            {% if update %}
            {% for data in mydata %}
            <tr>
              <td class="text-center fs-5">{{forloop.counter}}</td>
              <td class="text-center fs-5">{{mydata.name}}</td>
              <td class="text-center fs-5">{{mydata.account_type}}</td>
            </tr>
            {% endfor %}
            {% else %}
            {% for data in mydata %}
            <tr>
              <td class="text-center fs-5">{{forloop.counter}}</td>
              {% if data.name %}
              <td class=" fs-5">{{data.name|capitalize_after_space}}</td>
              {% elif data.customer %}
              <td class=" fs-5">{{data.customer|capitalize_after_space}}</td>
              {% elif  data.supplier %}
              <td class=" fs-5">{{data.supplier|capitalize_after_space}}</td>
              {% elif data.cheque %}
              <td class=" fs-5">{{data.cheque|capitalize_after_space}}</td>
              {% else %}
              <td class="fs-5">{{data.employee}}</td>
              {% endif %}

              {% if data.name %}
              <td class="text-center fs-5">General</td>
              {% elif data.customer %}
              <td class="text-center fs-5">Customer</td>
              {% elif  data.supplier %}
              <td class="text-center fs-5">Supplier</td>
              {% elif data.cheque %}
              <td class="text-center fs-5">Cheque/Receipt</td>
              {% else %}
              <td class="text-center fs-5">Employee</td>
              {% endif %}


              <td class="text-center fs-5">{{data.account_type}}</td>
              <td class="text-center fs-5">
                <a class="fs-5 btn btn-sm btn-info pt-1 pb-1  p-2" style=" margin-right: 0px !important; " href={% url 'accountreport' id=data.id %}><i style="margin-right: 2px !important; " class="ti-list "></i></a>
                {% if perms.home.change_account %}
                <a class=" fs-5 btn btn-sm btn-warning text-light pt-1 pb-1  p-2" href={% url 'editaccount' id=data.id %}><i style="margin-right: 0px !important; " class="ti-pencil-alt"></i></a>
                {% endif %}
                {% if perms.home.delete_account %}
                <a class="fs-5 btn btn-sm btn-danger text-light pt-1 pb-1 p-2" href={% url 'deleteaccount' id=data.id %}><i style="margin-right: 2px !important; " class="ti-trash "></i></a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>

        {% else %}
        <h4 class="text-center fs-5 alert alert-warning">No Record Found</h4>
        {% endif %}
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>

  {% endblock body %}