{% load static %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
  integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

<!-- Pre-loader start -->
<div class="theme-loader">
  <div class="ball-scale">
    <div class='contain'>
      <div class="ring">
        <div class="frame"></div>
      </div>
      <div class="ring">
        <div class="frame"></div>
      </div>
      <div class="ring">

        <div class="frame"></div>
      </div>
      <div class="ring">
        <div class="frame"></div>
      </div>
      <div class="ring">
        <div class="frame"></div>
      </div>
      <div class="ring">
        <div class="frame"></div>
      </div>
      <div class="ring">
        <div class="frame"></div>
      </div>
      <div class="ring">
        <div class="frame"></div>
      </div>
      <div class="ring">
        <div class="frame"></div>
      </div>
      <div class="ring">
        <div class="frame"></div>
      </div>
    </div>
  </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">

    <nav style="padding: 0 ; margin: 0 ;" class="navbar header-navbar pcoded-header">

      <div class="navbar-wrapper">

        <div style="height: 120px" class="navbar-logo  " >
          <a class="mobile-menu mt-3" id="mobile-collapse" href="#!">
            <i class="ti-menu"></i>
          </a>
          <a class="mobile-search morphsearch-search" href="#">
            <i class="ti-search"></i>
          </a>
          <a href="/">
            <!-- <img style="height: 50px" class="img-fluid" src="{% static 'assets/default/img/' %}" alt="Theme-Logo" /> -->
          </a>
          <a   class=" fs-4  btn " href="/">MASH Systems</a>
          <a class="mobile-options">
            <i class="ti-more"></i>
          </a>
        </div>


        <div class="navbar-container container-fluid">
          <ul class="nav-left">

            <li>
              <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
            </li>
            <li class="mt-3">
              <a  href="#!" onclick="javascript:toggleFullScreen()">
                <i class="ti-fullscreen"></i>
              </a>
            </li>
          </ul>

          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            {% if perms.home.view_dashboard %}
            <div class="container-fluid">
              <a class="navbar-brand fs-5  mt-4 " href="/">Dashboard</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              {% endif %}
              <div id="display-msg" class="text-center" style="min-height: 70px">
                {% if messages %} {% for message in messages %}
                <small id="msg" {% if message.tags %} class="{{message.tags}}" {% endif %}>
                  <h5 class="alert {% if message.tags == 'error' %} alert-warning {% else %} alert-{{message.tags}} {% endif %} ">{{message}}</h5>
                </small>
                {% endfor %} {% else %} &nbsp;
                <!-- Prevent collapse when there are no messages -->
                {% endif %}
              </div>
          </nav>
    </nav>
    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <nav class="pcoded-navbar">
          <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
          <div class="pcoded-inner-navbar main-menu">
            <div class="">
              <div class="main-menu-header">

                <div class="user-details">
                  <span>
                    <h4>{{request.user}}</h4>
                  </span>
                  <span id="more-details">Loged In User<i class="ti-angle-down"></i></span>
                </div>
              </div>

              <div class="main-menu-content">
                <ul>
                  <li class="more-details">
                    <a href="/dashboard/"><i class="ti-user"></i>View Profile</a>
                    <a href="/logout/"><i class="ti-layout-sidebar-left"></i>Logout</a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- left User manu end -->

            <!-- Side nav start  -->
            <hr>

            <ul class="pcoded-item pcoded-left-item">
              {% if perms.home.view_account %}
              <li class=" {% if request.path == '/accounts/' %} color-info {% endif %}">
                <a href="/accounts/">
                  <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                  <span class="pcoded-mtext fs-5" data-i18n="nav.dash.main">
                    <h4>Accounts</h4>
                  </span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              {% endif %}

              {% if perms.home.add_account %}
              <li class=" {% if request.path == '/create_accounts/' %} color-info {% endif %}">
                <a href="/create_accounts">
                  <span class="pcoded-micon"><i class="ti-layout"></i><b>D</b></span>
                  <span class="pcoded-mtext fs-5" data-i18n="nav.dash.main">
                    <h5>Create Accounts</h5>
                  </span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              {% endif %}

              {% if perms.home.view_transaction %}
              <li class=" {% if request.path == '/account-statement/' %} color-info {% endif %}">
                <a href="/account-statement/">
                  <span class="pcoded-micon"><i class="ti-layout-accordion-list"></i><b>D</b></span>
                  <span class="pcoded-mtext fs-5" data-i18n="nav.dash.main">
                    <h5>Account Statement</h5>
                  </span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              {% endif %}

              {% if perms.home.view_transaction %}
              <li class=" {% if request.path == '/list_transactions/' %} color-info {% endif %}">
                <a href="/list_transactions/">
                  <span class="pcoded-micon"><i class="ti-view-list-alt"></i><b>D</b></span>
                  <span class="pcoded-mtext fs-5" data-i18n="nav.dash.main">
                    <h5>Transactions</h5>
                  </span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              {% endif %}

              {% if perms.home.view_balance_sheet %}
                  <li class=" {% if request.path == '/balance_sheet/' %} color-info {% endif %} ">

                    <a href="/balance_sheet/">
                      <span class="pcoded-micon"><i class="ti-layout-accordion-list"></i><b>D</b></span>
                      <span class="pcoded-mtext fs-5" data-i18n="nav.dash.main">
                        <h5>Balance Sheet</h5>
                      </span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  {% endif %}


              {% if perms.home.view_region %}
                  <li class=" {% if request.path == '/region/' %} color-info {% endif %} ">
                    <a href="/region/">
                      <span class="pcoded-micon"><i class="ti-user"></i><b>D</b></span>
                      <span class="pcoded-mtext fs-5" data-i18n="nav.dash.main">
                        <h5>Region</h5>
                      </span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  {% endif %}

              {% if perms.home.view_company %}
                  <li class=" {% if request.path == '/employees/' %} color-info {% endif %} ">
                    <a href="/company/">
                      <span class="pcoded-micon"><i class="ti-user"></i><b>D</b></span>
                      <span class="pcoded-mtext fs-5" data-i18n="nav.dash.main">
                        <h5>Company</h5>
                      </span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  {% endif %}

              {% if perms.home.view_customer %}
                  <li class=" {% if request.path == '/customers/' %} color-info {% endif %} ">
                    <a href="/customers/">
                      <span class="pcoded-micon"><i class="ti-user"></i><b>D</b></span>
                      <span class="pcoded-mtext fs-5" data-i18n="nav.dash.main">
                        <h5>Customers</h5>
                      </span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  {% endif %}


                  <!--  {% if perms.home.view_price_list %}-->
                  <!--<li class=" {% if request.path == '/list_product_price/' %} color-info {% endif %} ">-->
                  <!--  <a href="/prices_list/">-->
                  <!--    <span class="pcoded-micon"><i class="ti-view-list-alt"></i><b>D</b></span>-->
                  <!--    <span class="pcoded-mtext fs-5" data-i18n="nav.dash.main">-->
                  <!--      <h5>Price List</h5>-->
                  <!--    </span>-->
                  <!--    <span class="pcoded-mcaret"></span>-->
                  <!--  </a>-->
                  <!--</li>-->
                  <!--{% endif %}-->

                {% if perms.home.view_employee %}
                  <li class=" {% if request.path == '/employees/' %} color-info {% endif %} ">
                    <a href="/employees/">
                      <span class="pcoded-micon"><i class="ti-user"></i><b>D</b></span>
                      <span class="pcoded-mtext fs-5" data-i18n="nav.dash.main">
                        <h5>Employees</h5>
                      </span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  {% endif %}

              {% if perms.home.view_suppliers %}
                  <li class=" {% if request.path == '/suppliers/' %} color-info {% endif %} ">
                    <a href="/suppliers/">
                      <span class="pcoded-micon"><i class="ti-user"></i><b>D</b></span>
                      <span class="pcoded-mtext fs-5" data-i18n="nav.dash.main">
                        <h5>Suppliers</h5>
                      </span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  {% endif %}

              {% if perms.home.view_cheque %}
                  <li class=" {% if request.path == '/cheques/' %} color-info {% endif %} ">
                    <a href="/cheques/">
                      <span class="pcoded-micon"><i class="ti-layout-grid3"></i><b>D</b></span>
                      <span class="pcoded-mtext fs-5" data-i18n="nav.dash.main">
                        <h5>Cheques</h5>
                      </span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  {% endif %}
            </ul>
          </div>
        </nav>