{% extends 'css-js-links.html' %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% block title %}
Add Product Prices {% endblock title %}

{% block context %}
{% if request.user.is_superuser %}
{% include 'navbar.html' %}
{% else %}
{% include 'store/navbar.html' %}
{% endif %}
{% endblock context %}

{% block body %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
          <div class="row">

            {% include 'stock_finished_product/product_menu.html' %}


            <div class="col-md-4 offset-md-2 ">
              <h3 class=""> Product Price</h3>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <!-- <div class="form-group">
          <label class="fs-5" for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
          {{ form.category }}
        </div> -->

                <input type="submit" class="btn btn-success" 
                {% if update %} 
                value="Update Product Price"
                 {% else %}
                  value="Add Product Price" 
                  {%endif %}>

                <a {% if update %} href="/list_product_price/" {% else %} href="/finished_product/" {%endif %} class="btn btn-warning">Product</a>
              </form>

            </div>
          </div>

          <div class="col-12 text-center mt-5">
            <h3 class="text-center alert alert-info">Products Prices </h3>

            {% if mydata %}
            <table class="table table-stripped table-bordered" id="petrol-table">
              <colgroup>
                <col width="5%">
                <col width="15%">
                <col width="15%">
                
                {% if perms.home.change_product or perms.home.delete_product %}
                {% if update %} {% else %}
                <col width="20%"> {% endif %}
                {% endif %}
              </colgroup>
              <thead>
                <tr class="bg-primary bg-gradient text-light text-center">
                  <td class="text-center fs-5">Sr.No.</td>
                  <td class="text-center fs-5">Product</td>
                  <td class="text-center fs-5">Price List</td>
                  
                  {% if perms.home.change_fianl_product_price or perms.home.final_delete_product_price %}
                  {% if update %} {% else %}<td class="text-center fs-5">Action</td> {% endif %}
                  {% endif %}

                </tr>
              </thead>
              <tbody>

                {% if update %}
                <tr>
                  <td class="text-center">{{mydata.id}}</td>
                  <td class="text-center">{{mydata.product.productname|capitalize_after_space}}</td>
                
                  <td class="">{{mydata.price_list.name|capitalize_after_space}} -- {{mydata.price}} </td>
               

                </tr>
                {% else %}

                {% for data in mydata %}
                <tr>
                  <td class="text-center fs-5">{{forloop.counter}}</td>
                  <td class="text-center">{{data.product.productname|capitalize_after_space}}</td>
                  <td class="">
                    {{data.price_list|capitalize_after_space}} -- Price = {{data.price}}
                  </td>
                  {% if perms.home.change_product_price %}
                  <td class="text-center">
                    <a class="btn btn-sm btn-warning fs-5" href={% url 'editfinalproductprice' id=data.id %}>Edit</a>
                    {% endif %}

                    {% if perms.home.delete_product_price %}
                    <a class=" btn btn-sm btn-danger fs-5" href={% url 'deletefinalproductprice' id=data.id
                      %}>Delete</a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
            {% else %}
            <h4 class="text-center alert alert-warning">No Record Found</h4>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {

    // Wait for 4 seconds and then hide the element with id "msg"
    setTimeout(function () {
      $("#msg").hide();
    }, 4000); // 10000 milliseconds = 10 seconds
  });

</script>

{% endblock body %}