{% extends 'css-js-links.html' %} 
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block title %}
Gatepas {% endblock title %} 

{% block context %}
{% include 'navbar.html' %} 
{% endblock context %}

{% block body %}
<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
  <div class="row">

    <div class="col-12">
      <h2 class="text-center alert alert-info">Inventory</h2>

      <table class="table table-flush" id="datatable">
        <thead class="thead-light">
          <tr>
            <th class="border-bottom fw-bolder text-center" scope="col">
              Sr#
            </th>

            <th class="border-bottom fw-bolder text-center" scope="col">
              Product Name
            </th>
            <th class="border-bottom fw-bolder text-center" scope="col">
              Products Qty
            </th>
           
            <th class="border-bottom fw-bolder text-center" scope="col">
             Units
            </th>
          </tr>
        </thead>
        <tbody>
          {% for data in mydata %}
          <tr id="salereceipt-{{ data.id }}">
            <td class="text-center">{{ forloop.counter }}</td>

            <td class="text-center">{{ data.product }}</td>
            <td class="text-center">{{ data.quantity }}</td>
            <td class="text-center">{{ data.product.unit }}</td>

      
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </table>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock body %}