{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% block title %}
Search Product Price
{% endblock title %}
{% block content %}
<!-- add_stock.html -->

<div class="container-fluid mb-5 ">
    <div class="row">

        {% include 'stock/product_menu.html' %}
        <div class="col-5 ">
            <h3 class="text-center alert alert-info">Search Product Price</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}

                <input type="submit" class="btn btn-success" {% if update %} value="Update Product Price" {% else %}
                    value="Search Product Price" {%endif %}>
                <a href="/product/" class="btn btn-warning">Product</a>
            </form>

        </div>
    </div>

    <div class="col-12 text-center mt-5">
        <h3 class="text-center alert alert-info">Products List</h3>

        {% if mydata %}
        <table class="table table-stripped table-bordered" id="petrol-table">
            <colgroup>
                <col width="5%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
                {% if perms.home.change_product or perms.home.delete_product %}
                {% if update %} {% else %}
                <col width="20%"> {% endif %}
                {% endif %}
            </colgroup>
            <thead>
                <tr class="bg-primary bg-gradient text-light text-center">
                    <td class="text-center fs-5">Sr.No.</td>
                    <td class="text-center fs-5">Product</td>
                    <td class="text-center fs-5">Customer</td>
                    <td class="text-center fs-5">Price</td>
                    {% if perms.home.change_product_price or perms.home.delete_product_price %}
                    {% if update %} {% else %}<td class="text-center fs-5">Action</td> {% endif %}
                    {% endif %}

                </tr>
            </thead>
            <tbody>

                {% if update %}
                <tr>
                    <td class="text-center">{{mydata.id}}</td>
                    <td class="text-center">{{mydata.product.productname|capitalize_after_space}}</td>
                    <td class="">{{mydata.customer.name|capitalize_after_space}}</td>
                    <td class="text-center">{{mydata.price}}</td>

                </tr>
                {% else %}
                {% for data in mydata %}
                <tr>
                    <td class="text-center fs-5">{{forloop.counter}}</td>
                    <td class="text-center">{{data.product.productname|capitalize_after_space}}</td>
                    <td class="">
                        {{data.customer.coname|capitalize_after_space}}/{{data.customer.name|capitalize_after_space}}
                    </td>
                    <td class="text-center">{{data.price}}</td>

                    {% if perms.home.change_product_price %}
                    <td class="text-center">
                        <a class="btn btn-sm btn-warning fs-5" href={% url 'editproductprice' id=data.id %}>Edit</a>
                        {% endif %}

                        {% if perms.home.delete_product_price %}
                        <a class=" btn btn-sm btn-danger fs-5" href={% url 'deleteproductprice' id=data.id %}>Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% else %}
        <h4 class="text-center alert alert-warning">No Record Found</h4>
        {% endif %}
    </div>
</div>
<script>
    $(document).ready(function () {

        // Wait for 4 seconds and then hide the element with id "msg"
        setTimeout(function () {
            $("#msg").hide();
        }, 4000); // 10000 milliseconds = 10 seconds
    });

</script>

{% endblock content %}