{% extends 'css-js-links.html' %} 
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block title %}
Add Customer {% endblock title %} 

{% block context %}
{% if request.user.is_superuser %}
{% include 'navbar.html' %} 
{% else %}
{% include 'accounts/navbar.html' %} 
{% endif %}
{% endblock context %}

{% block body %}
<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">

<div class="row">

    <div class="col-md-12    ">
      <h2 >Add Customer</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
         <div class="row mt-5">
                    {% for field in form %}
                    <div class="col-md-3 mb-5">
                      {{ field.label_tag }}
                      {{ field }}
                      {% if field.errors %}
                      <div class="text-danger">{{ field.errors }}</div>
                      {% endif %}
                    </div>
                    {% endfor %}
                  </div>

        
        <button type="submit" class="btn btn-info" >{% if update %} <i class="ti-pencil-alt"></i>  {% else %} <i class="ti-plus"></i>  {%endif %}</button>
        <a href= "/customers/" class="btn btn-warning text-light" > <i class="ti-arrow-left"></i> </a>
      </form>

    </div>
    </div>
    </div>
  </div>
</div>
</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    // Handle the delete button click
    $(".delete-customer").on("click", function (event) {
      event.preventDefault();

      var customerId = $(this).data("customer-id");
      var url = "{% url 'deletecustomer' 0 %}".replace("0",customerId);

      if (confirm("Are you sure you want to delete this customer?")) {
        $.ajax({
          type: "POST",
          url: url,
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (response) {
            if (response.success) {
              // Remove the gate pass row from the table
              $("#customer-" + customerId).remove();
              $("#display-msg").html(
                `<h5 id= 'msg' class='alert alert-success'> ${response.message} </h5> `
              );

              // alert(response.message);
            } else {
              alert("Failed to delete the custmer.");
              $("#display-msg").html(
                `<h5 id= 'msg' class='alert alert-warning'> ${response.message} </h5> `
              );
            }
          },
          error: function () {
            alert("An error occurred. Please try again.");
          },
        });
      }
    });
  });
</script>


<script>
  $(document).ready(function(){

    // Wait for 4 seconds and then hide the element with id "msg"
    setTimeout(function(){
        $("#msg").hide();
    }, 4000); // 10000 milliseconds = 10 seconds
});
   
</script>
  
{% endblock body %}