
{% load custom_filters %}

{% if gatepass_products %}
{% for product in gatepass_products %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ product.product.productname }}</td>
    <td>{{ product.quantity }}</td>
    <td>{{ product.product.unit }}</td>
    <td>-</td>
    <td>{{ product.remarks }}</td>
    <td class="text-center">
        <a href="#" 
           class="btn btn-danger m-3 delete-item" 
           data-product-id="{{ product.id }}" 
           data-gatepass-id="{% if gatepass.id %}{{gatepass.id}}{% else %}{{gatepass_id}}{% endif %}">
           X
        </a>
    </td>
</tr>
{% endfor %} 
{% endif %}
    
