
{% extends 'css-js-links.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
{% include 'store/navbar.html' %}
{% endblock title %}

{% block context %}
{% if request.user.is_superuser %}
{% include 'navbar.html' %} 
{% else %}
{% include 'store/navbar.html' %} 
{% endif %}
{% endblock context %}



{% block body %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center alert alert-info">
        
        Product Receipt Note List 
       
      </h2>

      {% if perms.home.add_store_purchase_note %}
      <a class="btn btn-primary mb-2" href="{% url 'create_final_pro_note' %}"><i class="ti-plus me-2"></i>Final Product Note</a>
      {% endif %}

      <div class="card py">
        <div class="table-responsive py-2">
          {% if product_notes%}
          <table class="table table-flush" id="datatable">
            <thead class="thead-light">
              <tr>
                <th class="border-bottom fw-bolder text-center" scope="col">
                  Sr#
                </th>
                <th class="border-bottom fw-bolder text-center" scope="col">
                  Ref#
                </th>
                <th class="border-bottom fw-bolder text-center" scope="col">
                  Date
                </th>
                <th class="border-bottom fw-bolder text-center" scope="col">
                  Products Qty
                </th>
                {% if perms.home.change_store_purchase_note or perms.home.delete_store_purchase_note %}
                <th class="border-bottom fw-bolder text-center" scope="col">
                  Action
                </th>
                {% else %}
                <th class="border-bottom fw-bolder text-center" scope="col">
              
                </th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for product_note in product_notes %}
              <tr id="salereceipt-{{ product_note.id }}">
                <td class="text-center">{{ forloop.counter }}</td>
                <td class="text-center">{{ product_note.id }}</td>
                <td class="text-center">{{ product_note.date_created }}</td>
                <td class="text-center">
                  {{ final_pro_note_pro|get_item:product_note.id }}
                </td>
                <td class="text-center">
                  {% if perms.home.view_store_purchase_note  %}
                  <a class="btn btn-success text-light" href="{% url 'print_final_pro_note' product_note.id %}"><i class="ti-printer me-1"></i></a>
                  {% endif %}
                  {% if perms.home.change_store_purchase_note %}
                  <a class="btn btn-warning text-light" href="{% url 'edit_final_pro_note' product_note.id %}"><i class="ti-pencil me-1"></i></a>
                  {% endif %}
                  {% if perms.home.delete_store_purchase_note %}
                  <button class="btn btn-danger  delete-note" data-note-id="{{ product_note.id }}">
                    <i class="ti-trash me-1"></i>
                  </button>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h4 class="text-center alert alert-warning">No Record Found</h4>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(function() {
  $('.delete-note').on('click', function() {
    const noteId = $(this).data('note-id');
    if (!confirm('Are you sure you want to delete this note?')) return;

    $.ajax({
      url: `/delete-final-pro-note/${noteId}`,
      method: 'POST',
      headers: { 
        'X-CSRFToken': '{{ csrf_token }}',
        'X-Requested-With': 'XMLHttpRequest'
      },
      success: function(data) {
        if (data.success) {
          window.location.href = data.redirect_url;
        } else {
          alert('Failed: ' + data.message);
        }
      },
      error: function() {
        alert('Error deleting note.');
      }
    });
  });
});
</script>


{% endblock body %}