{% extends 'css-js-links.html' %} 
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block title %}
Employees {% endblock title %} 

{% block context %}
{% if request.user.is_superuser %}
{% include 'navbar.html' %} 
{% else %}
{% include 'accounts/navbar.html' %} 
{% endif %}
{% endblock context %}

{% block body %}
<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">

<div class="row">
  <div class="col-12">
    <h2 class="text-center alert alert-info">Employees List</h2>
    <div class="">
      {% if perms.home.add_employee %}
      <a href="{% url 'addemployee' %}" class=" fs-6 btn btn-primary col-md-2 "><ii class="ti-plus me-3"></ii> Employee</a>
      {% endif %}
      
      <div class="table-responsive py-2 mt-3">
        {% if employees%}
        <table class="table table-flush" id="datatable">
          <thead class="thead-light">
            <tr>
              <th class="border-bottom fw-bolder text-center fs-5" scope="col">
                Sr#
              </th>
              <th class="border-bottom fw-bolder text-center fs-5" scope="col">
                ID
              </th>
              <th class="border-bottom fw-bolder text-center fs-5" scope="col">
                Name
              </th>

              <th class="border-bottom fw-bolder text-center fs-5" scope="col">
              
                Designation
              </th>
              <th class="border-bottom fw-bolder text-center fs-5" scope="col">
                Contact
              </th>
              <th class="border-bottom fw-bolder text-center fs-5" scope="col">
              
                Adress
              </th>
              <th class="border-bottom fw-bolder text-center fs-5" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            {% for employee in employees %}
            <tr id="employee-{{ employee.id }}">
              <td class="text-center fs-5">{{ forloop.counter }}</td>
            
              <td class="text-center fs-5">{{ employee.id }}</td>
              <td class="text-center fs-5">{{ employee.name|capitalize_after_space }}</td>
              <td class="text-center fs-5">{{ employee.designation|title }}</td>
              <td class="text-center fs-5">{{ employee.contact }}</td>
              <td class="text-center fs-5">{{ employee.address|title }}</td>

              
              
              <td class="text-center ">
                <a class="btn btn-info fs-5 " href="{% url 'employeesdetail' employee.id %}"><ii class="ti-info-alt me-2"></ii>Info</a>
                <a class="btn btn-warning fs-5 text-light" href="{% url 'editemployee' employee.id %}"><ii class="ti-pencil-alt me-1"></ii>Edit</a>
                <button class="btn btn-danger fs-5 delete-employee" data-employee-id="{{ employee.id }}">
                  <ii class="ti-trash me-1"></ii>Del
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h4 class="text-center alert alert-warning">No Record Found</h4>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    // Handle the delete button click
    $(".delete-employee").on("click", function (event) {
      event.preventDefault();

      var employeeId = $(this).data("employee-id");
      var url = "{% url 'deleteemployee' 0 %}".replace("0",employeeId);

      if (confirm("Are you sure you want to delete this employee?")) {
        $.ajax({
          type: "POST",
          url: url,
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (response) {
            if (response.success) {
              // Remove the gate pass row from the table
              $("#employee-" + employeeId).remove();
              $("#display-msg").html(
                `<h5 id= 'msg' class='alert alert-success'> ${response.message} </h5> `
              );

              // alert(response.message);
            } else {
              alert("Failed to delete the employee.");
            }
          },
          error: function () {
            alert("An error occurred. Please try again.");
          },
        });
      }
    });
  });
</script>

{% endblock body %}