{% extends 'css-js-links.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block title %}
Users {% endblock title %}

{% block context %}
{% include 'navbar.html' %}
{% endblock context %}

{% block body %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
<div class="row justify-content-center">
  <div class="col-3  justify-content-center alert alert-info">
    <h3 class='m-2' class="">Profile</h3>

    <h5 class="m-2">User Name : {{request.user|title}}
      {% if groups %}
      {% for group in groups %}
      ({{group|title}})
      {% endfor %}
      {% endif %}</h5>
    <h5 class="m-2">Frist Name : {{request.user.first_name|title}}</h5>
    <h5 class="m-2">Last Name : {{request.user.last_name|title}}</h5>
    <h5 class="m-2">Email : {{request.user.email}}</h5>
    <a class="btn btn-info m-2" href={% url 'editprofile' request.user.id %}>Edit Profile</a>
  </div>
  <div class="col-9    justify-content-center">
    <div class="col-12 alert alert-success">
      <h1 class="text-center">Welcome {{request.user|title}} Your All Blogs Post </h1>
      {% if perms.home.add_blog %}
      <a class="btn btn-warning text-light mb-5 mt-5" href="/postblog/">Add Post</a>
      {% else %}
      <h3 class="m-3">No Add Blog Permission</h3>
      {% endif %}
      <table class="table">
        <thead>
          <tr>
            <td>Sr.No.</td>
            <td>Tilte</td>
            <td>Description</td>
            <td>Auther</td>
            <td>Permissions</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          {% for blog in myblog %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{blog.title}}</td>
            <td>{{blog.description}}</td>
            <td>{{blog.user}}</td>

            <td>
              {% if perms.home.change_blog %}
              <a class="btn btn-warning" href={% url 'editdata' id=blog.id %}>Edit</a>
              {% else %}
              <p>No Edit </p>
              {% endif%}
            </td>
            <td>
              {% if perms.home.delete_blog %}
              <!-- <a class="btn btn-danger"  href={% url 'deletedata' id=blog.id %} method="POST" >Delete</a> -->

              <form action="{% url 'deletedata' id=blog.id %}" method="POST">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
              {% else %}
              <p>No Delete Permission </p>
              {% endif%}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>
</div>

</div>


{% endblock body %}