{% extends 'css-js-links.html' %}
{% load static %}

{% block context %}
{% include 'navbar.html' %}
{% endblock context %}

{% block body %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                     <div class="row">
                    <h3>Sales</h3>
                    <!-- card1 end -->
                    <!-- Statestics Start -->
                    <div class="col-md-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Monthly Sales <i class="text-c-pink f-16 icofont icofont-calendar m-r-10 ms-3"></i>Last 12 Months</h5>
                                
                                <div class="card-header-left ">
                                </div>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="icofont icofont-simple-left "></i></li>
                                        <li><i class="icofont icofont-maximize full-card"></i></li>
                                        <li><i class="icofont icofont-minus minimize-card"></i></li>
                                        <li><i class="icofont icofont-refresh reload-card"></i></li>
                                        <li><i class="icofont icofont-error close-card"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block" style="width:100%">
                                <div id="statestics-chart" style="height:400px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- card1 start -->
                        <div class="col-md-4 col-xl-6">
                            <div class="card widget-card-1" >
                                <div class="card-block-small">
                                    <i class="icofont icofont-pie-chart bg-c-pink card1-icon"></i>
                                    <span class="text-c-blue f-w-600">All Sales</span>
                                    <div style="text-align: left;">
                                        <h4>
                                            {% if total_sale %}
                                            Tolal Sales Amount = Rs. {{total_sale}}
                                            {% else %}
                                            No record found
                                            {% endif %}
                                        </h4>
                                    
                                    </div>
                                    <a class="f-left btn btn-success text-light " href="/list-sales/">
                                        <i class="icofont icofont-users-alt-4"></i>
                                        Sales Details
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="row">
                        <h3>Admin</h3>
                        <div class="col-md-6 col-xl-3">
                            <div class="card widget-card-1">
                                <div class="card-block-small">
                                    <i class="icofont icofont-users-alt-6 bg-c-pink card1-icon"></i>
                                    <span class="text-c-green f-w-600">Users Count</span>
                                    <h4>
                                        {% if users %}
                                        {{users}}
                                        {% else %}
                                        No record found
                                        {% endif %}
                                    </h4>
                                    <div>
                                        <a class="f-left btn btn-success text-light " href="/list_users/">
                                            <i class="icofont icofont-users-alt-4"></i>
                                            All Users
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3>Accounts</h3>
                        <div class="col-md-6 col-xl-3">
                            <div class="card widget-card-1">
                                <div class="card-block-small">
                                    <i class="icofont icofont-users-alt-6 bg-c-pink card1-icon"></i>
                                    <span class="text-c-green f-w-600">Employee Count</span>
                                    <h4>
                                        {% if employees %}
                                        {{employees}}
                                        {% else %}
                                        No record found
                                        {% endif %}
                                    </h4>
                                    <div>
                                        <a class="f-left btn btn-success text-light " href="/employees/">
                                            <i class="icofont icofont-users-alt-4"></i>
                                            All Employees
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card widget-card-1">
                                <div class="card-block-small">
                                    <i class="icofont icofont-users-alt-6 bg-c-pink card1-icon"></i>
                                    <span class="text-c-green f-w-600">Customer Count</span>
                                    <h4>
                                        {% if customers %}
                                        {{customers}}
                                        {% else %}
                                        No record found
                                        {% endif %}
                                    </h4>
                                    <div>
                                        <a class="f-left btn btn-success text-light " href="/customers/">
                                            <i class="icofont icofont-users-alt-4"></i>
                                            All Customers
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card widget-card-1">
                                <div class="card-block-small">
                                    <i class="icofont icofont-users-alt-6 bg-c-pink card1-icon"></i>
                                    <span class="text-c-green f-w-600">Supplier Count</span>
                                    <h4>
                                        {% if suppliers %}
                                        {{suppliers}}
                                        {% else %}
                                        No record found
                                        {% endif %}
                                    </h4>
                                    <div>
                                        <a class="f-left btn btn-success text-light " href="/suppliers/">
                                            <i class="icofont icofont-users-alt-4"></i>
                                            All Suppliers
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <h3>Store</h3>
                    <!-- card1 start -->
                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-pie-chart bg-c-pink card1-icon"></i>
                                <span class="text-c-blue f-w-600">Items</span>

                                <div>

                                    <h4>
                                        {% if items %}
                                        {{items}}
                                        {% else %}
                                        No record found
                                        {% endif %}
                                    </h4>
                                </div>
                                <a class="f-left btn btn-success text-light " href="/product/">
                                    <i class="icofont icofont-users-alt-4"></i>
                                    All Items
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- card1 end -->
                    <!-- card1 start -->
                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-ui-home bg-c-pink card1-icon"></i>
                                <span class="text-c-pink f-w-600">Products</span>
                                <h4>{% if products %}
                                    {{products}}
                                    {% else %}
                                    No record found
                                    {% endif %}</h4>
                                <div>
                                    <a class="f-left btn btn-success text-light " href="/finished_product/">
                                        <i class="icofont icofont-users-alt-4"></i>
                                        All Products
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include AmCharts v4 scripts in your template -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const chartData = JSON.parse('{{ chart_data_json|safe }}');

    setTimeout(() => {
        am4core.useTheme(am4themes_animated);

        var chart = am4core.create("statestics-chart", am4charts.XYChart);

        chart.data = chartData.labels.map((label, i) => ({
            category: label,
            value: chartData.values[i]
        }));

        // X Axis
        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "category";
        categoryAxis.renderer.grid.template.disabled = true;  // remove vertical grid lines

        // Y Axis
        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.renderer.grid.template.disabled = true;     // remove horizontal grid lines

        // Series
        var series = chart.series.push(new am4charts.ColumnSeries());
        series.dataFields.valueY = "value";
        series.dataFields.categoryX = "category";
        series.name = "Sales";
        series.columns.template.tooltipText = "{category}: [bold]{value}[/]";
    }, 600);
});

</script>

{% endblock body %}