<ul class="nav nav-pills ms-3 mb-3">

  <li class="nav-item" style="line-height:2;">
    <a class="nav-link p-1" aria-current="page" href="/product/" class="list-group-item">All Items</a>
  </li>

  {% if not prod %}
  {% for category in categories %}

  <li class="nav-item" style="line-height:2;">
    <a class="nav-link p-1" aria-current="page" href="?category={{category.id}}"
      class="list-group-item">{{category.name}} Items</a>
  </li>
  {% endfor %}
  {% endif %}

  {% if category_selected %}

  {% for category in categories %}
  {% if perms.home.add_product %}
  <li class="nav-item " style="line-height:2;">
    <a class="nav-link p-1" href="/add_product?category={{category.id}}" class="list-group-item">
      <i class="ti-plus"></i>Add Item</a>
  </li>

  <!-- <li class="nav-item">
    <a class="nav-link p-1 " href="{% url 'addproductprice' category.id %}" class="list-group-item">
      Add Item Price
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link p-1" href="{% url 'searchproductprice' category.id %}"
      class="list-group-item">Search Items Price</a>
  </li> -->
  {% endif %}
  {% endfor %}

  {% elif add_category or category_selected == False %}
  {% if perms.home.add_category %}
  <li class="nav-item" style="line-height:2;">
    <a class="nav-link p-1" href="/category/" class="list-group-item"><i class="ti-plus me-1"></i>Add
      Category</a>
  </li>
  <li class="nav-item" style="line-height:2;">
    <a class="nav-link p-1" href="/add_product1/" class="list-group-item">
      <i class="ti-plus"></i>Add Items</a>
  </li>
 
  {% endif %}
  {% endif %}

  {% if prod %}
  {% for category in categories %}
  <li class="nav-item" style="line-height:2;">
    <a class="nav-link p-1" href="/product?category={{category.id}}" class="list-group-item">{{category.name}}</a>
  </li>
  {% endfor %}
  {% endif %}
  </li>
</ul>

